@import "./common/reset.css";
@import "./common/font.css";
@import "./common/mixin.scss";
@import "./common/common.scss";

// common
.subTitle {
  font-size: $font-42;
}

html,
body {
  width: 100%;
  height: 100%;
}

/* section1*/
.section-main {
  .section {
    position: relative;
    height: 100vh;
    overflow: hidden;
  }
}
.section1 {
  //  background-color: #000;
  .swiper-container {
    width: 100%;
    height: 100%;
  }
  .item {
    height: 100vh;
    position: relative;
    overflow: hidden;
    &.swiper-slide-active {
      h3,
      p,
      .btn {
        opacity: 1;
        transform: translateY(0);
      }
      h3 {
        transition-delay: 0.8s;
      }
      p {
        transition-delay: 1s;
      }
      .btn {
        transition-delay: 1.2s;
      }
    }
  }
  .bg-box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    @include backcover;
    animation: o-scale 20s linear infinite;
    z-index: 1;
  }
  .txt-box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
  }
  h3,
  p,
  .btn {
    opacity: 0;
    transform: translateY(2vw);
    transition: all 0.6s ease;
  }
  h3 {
    font-size: 56px;
    color: #fff;
    letter-spacing: 2px;
  }
  p {
    font-size: 20px;
    line-height: 2;
    color: #fff;
    letter-spacing: 2px;
    max-width: 660px;
    margin: 20px 0;
  }
  .button {
    width: 17px;
    height: 29px;
    border: 0;
    outline: none;
    @include backcontain;
    background-image: url("../images/index/prev-1.png");
    position: absolute;
    top: 50%;
    margin-top: -15px;
    opacity: 0.5;
    transition: opacity 0.3s ease;
    z-index: 2;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
    &.button-prev {
      left: 5vw;
    }
    &.button-next {
      right: 5vw;
      transform: rotate(180deg);
    }
    &.swiper-button-disabled {
      cursor: default;
      &:hover {
        opacity: 0.5;
      }
    }
  }

  .pagination {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 4.5vw;
    text-align: center;
    font-size: 0;
    z-index: 2;
    .num {
      @include inline-top;
      width: 190px;
      position: relative;
      margin-left: -1px;
      opacity: 0.5;
      span {
        display: block;
        text-align: center;
        padding-bottom: 10px;
        font-size: 14px;
        font-family: "DINPro-Regular";
        color: #fff;
        transition: color 0.3s ease;
      }
      svg {
        display: block;
        width: 100%;
        height: auto;
      }
      .line-1 {
        stroke: #fff;
      }
      .line-2 {
        stroke: $color;
        stroke-dasharray: 560;
        stroke-dashoffset: 560;
      }
      &.active {
        opacity: 1;
        z-index: 2;
        span {
          color: $color;
        }
        .line-2 {
          stroke-dashoffset: 0;
          transition: all 2s ease;
        }
      }
    }
  }
}
.section2 {
  .bg-box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    // background-color: #000;
    overflow: hidden;
    .bg {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      @include backcover;
      background-image: url("../images/index/s2-bj.jpg");
      transition: all 0.6s ease;
      animation: o-scale 20s linear infinite;
    }
  }
  .cont-box {
    height: 100%;
    // padding-top: 70px;
    position: relative;
    z-index: 2;
  }
  .tab-tit {
    z-index: 2;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 4vw;
    .wrapper {
      display: flex;
      justify-content: space-around;
    }
    .item {
      // width: calc((100% - 4vw) / 3);
      flex: 1;
      height: 260px;
      background-color: #e8e7e7;
      border: 5px solid #3b61e0;
      transition: all 0.3s ease;
      .item-box {
        padding: 30px;
      }
      .txt {
        overflow: hidden;
        margin-top: 10px;
        height: 100px;
      }
      .icon {
        display: flex;
        justify-content: flex-end;
        i {
          width: 100px;
          height: 100px;
        }
      }
      h4 {
        font-size: 20px;
        font-weight: bold;
      }
      p {
        font-size: 16px;
      }
      &:nth-of-type(1) {
        i {
          background-position: center;
          background-repeat: no-repeat;
          background-image: url("../images/index/s2-icon1.png");
        }
      }
      &:nth-of-type(2) {
        margin: 0 40px;
        i {
          background-position: center;
          background-repeat: no-repeat;
          background-image: url("../images/index/s2-icon2.png");
        }
      }
      &:nth-of-type(3) {
        i {
          background-position: center;
          background-repeat: no-repeat;
          background-image: url("../images/index/s2-icon3.png");
        }
      }
      &.active {
        background: $color;
        border-color: $color;
        color: #fff;
        &:nth-of-type(1) {
          i {
            background-image: url(../images/index/s2-icon1-active.png);
          }
        }
        &:nth-of-type(2) {
          i {
            background-image: url("../images/index/s2-icon2-active.png");
          }
        }
        &:nth-of-type(3) {
          i {
            background-image: url("../images/index/s2-icon3-active.png");
          }
        }
      }
    }
  }
  .tab-cont {
    padding-bottom: 260px;
    .item {
      display: none;
      &.active {
        display: block;
      }
      .index-tit,
      .btn {
        opacity: 0;
        animation: o-upfade-top 0.7s cubic-bezier(0.4, 0, 0.2, 1) forwards;
      }
      .index-tit {
        animation-delay: 0.1s;
        h3 {
          padding-left: 80px;
          background-position: left;
          background-repeat: no-repeat;
          background-image: url("../images/index/s2-icon-tit.png");
        }
        ul {
          margin: 15px 0;
          li {
            position: relative;
            padding-left: 20px;
            font-size: 30px;
            a {
              color: #3b61e0;
            }
            &:before {
              position: absolute;
              top: 50%;
              left: 0;
              transform: translateY(-50%);
              content: "";
              display: inline-block;
              width: 10px;
              height: 10px;
              background-color: #3b61e0;
              border-radius: 50%;
            }
          }
        }
        p {
          margin-top: 0;
          width: 70%;
          max-width: 610px;
        }
      }
      .btn {
        animation-delay: 0.2s;
        margin-top: 2vw;
      }
    }
  }
  // @media screen and (min-width: 1025px){
  .tab-tit,
  .tab-cont {
    opacity: 0;
    transform: translateY(2vw);
    transition: all 0.6s ease;
  }
  &.active {
    .tab-tit,
    .tab-cont {
      opacity: 1;
      transform: translateY(0);
    }
    .tab-cont {
      transition-delay: 0.5s;
    }
    .tab-tit {
      transition-delay: 0.7s;
    }
  }
  @media screen and (max-width: 955px) {
    .tab-tit {
      .item {
        height: 210px;
        .icon {
          margin: 0;
          justify-content: center;
        }
        .txt {
          h4 {
            font-size: 18px;
          }
          p {
            display: none;
          }
        }
      }
    }
  }
  // }
}
.section3 {
  .bg-box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    overflow: hidden;
    .bg {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      @include backcover;
      background-image: url(../images/index/img-8-1.jpg);
      transition: all 0.6s ease;
      animation: o-scale 20s linear infinite;
    }
  }
  .cont-box {
    height: 100%;
    position: relative;
    z-index: 2;
  }
  .tab-tit {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 4vw;
    z-index: 2;
    .wrapper {
      display: flex;
      justify-content: space-around;
    }
    .item {
      flex: 1;
      height: 120px;
      text-align: center;
      background-color: #e8e7e7;
      border: 2px solid #e8e7e7;
      transition: all 0.3s ease;
      .icon {
        margin: 30px auto 10px auto;
        width: 30px;
        height: 30px;
        i {
          display: block;
          width: 30px;
          height: 30px;
        }
      }
      p {
        font-size: 16px;
      }
      &:nth-of-type(1) {
        i {
          background-position: center;
          background-repeat: no-repeat;
          background-image: url("../images/index/s3-icon1.png");
        }
      }
      &:nth-of-type(2) {
        margin: 0 25px;
        i {
          background-position: center;
          background-repeat: no-repeat;
          background-image: url("../images/index/s3-icon2.png");
        }
      }
      &:nth-of-type(3) {
        i {
          background-position: center;
          background-repeat: no-repeat;
          background-image: url("../images/index/s3-icon3.png");
        }
      }
      &.active {
        background: $color;
        color: #fff;
        &:nth-of-type(1) {
          i {
            background-image: url("../images/index/s3-icon1-active.png");
          }
        }
        &:nth-of-type(2) {
          i {
            background-image: url("../images/index/s3-icon2-active.png");
          }
        }
        &:nth-of-type(3) {
          i {
            background-image: url("../images/index/s3-icon3-active.png");
          }
        }
      }
    }
  }
  .tab-cont {
    padding-bottom: 180px;
    .item {
      display: none;
      &.active {
        display: block;
      }
      .index-tit {
        opacity: 0;
        animation: o-upfade-top 0.7s cubic-bezier(0.4, 0, 0.2, 1) forwards;
      }
      .index-tit {
        animation-delay: 0.1s;
        h5 {
          margin: 20px 0 10px 0;
          font-size: 30px;
          color: #fff;
        }
        p {
          margin-top: 0;
          width: 70%;
          max-width: 610px;
        }
      }
    }
  }
  // @media screen and (min-width: 1025px){
  .tab-tit,
  .tab-cont {
    opacity: 0;
    transform: translateY(2vw);
    transition: all 0.6s ease;
  }
  &.active {
    .tab-tit,
    .tab-cont {
      opacity: 1;
      transform: translateY(0);
    }
    .tab-cont {
      transition-delay: 0.5s;
    }
    .tab-tit {
      transition-delay: 0.7s;
    }
  }
  // }
}
.section5 {
  .bg-box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    overflow: hidden;
    .bg {
      width: 100%;
      height: 100%;
      @include backcover;
      background-image: url(../images/index/s5-bj.jpg);
      animation: o-scale 20s linear infinite;
    }
  }
  .cont-box {
    height: 100%;
    // padding-top: 70px;
    position: relative;
    z-index: 2;
  }
  .mid-block {
    margin-top: 3.5vw;
    font-size: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .item {
      margin: 20px 0;
      width: calc((100% - 84px) / 3);
      &:first-child {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .title {
        .h3 {
          margin-bottom: 30px;
          font-size: 42px;
          color: $color;
        }
      }
      .picture-box {
        position: relative;
        overflow: hidden;
        .date {
          z-index: 1;
          position: absolute;
          padding-left: 15px;
          bottom: 25px;
          width: 120px;
          height: 45px;
          line-height: 45px;
          color: $white-color;
          background: rgb(31, 47, 90, 0.8);
          font-size: $font-12;
          span {
            padding-right: 3px;
          }
          .month {
            font-size: $font-20;
          }
        }
      }
      .txt-box {
        margin-top: 20px;
      }
      img {
        display: block;
        width: 100%;
        transition: transform 0.6s ease;
      }
      h6 {
        font-size: 16px;
        color: $color;
        font-weight: bold;
        @include text-hidden;
        transition: color 0.3s ease;
      }
      .desc {
        font-size: 14px;
        color: #555555;
        font-family: "DINPro-Regular";
        margin-top: 10px;
      }
      // @media screen and (min-width: 1025px){
      &:hover {
        img {
          transform: scale(1.1);
        }
        h6 {
          color: $color;
        }
      }
      // }
    }
  }
  // @media screen and (min-width: 1025px){
  .mid-block {
    opacity: 0;
    transform: translateY(2vw);
    transition: all 0.6s ease;
  }
  &.active {
    .mid-block {
      opacity: 1;
      transition-delay: 0.6s;
      transform: translateY(0);
    }
    // }
  }
}
.section6 {
  background-color: #fafafa;
  .trial {
    overflow: hidden;
    display: flex;
    min-width: 900px;
    height: 530px;
    background-color: $white-color;
    border-radius: 30px;
    box-shadow: $box-shadow;
    .left {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-basis: 285px;
      background-color: #3e4557;
      @include backcover;
      background-image: url("../images/index/s6-from-bj.jpg");
      .subTitle-box {
        letter-spacing: 8px;
        width: 100px;
      }
    }
    .right {
      flex: 1;
      padding: 25px;
    }
    .form-list {
      display: flex;
      flex-wrap: wrap;
      label {
        font-size: $font-16;
      }
      li {
        flex-basis: 50%;
        &:last-child {
          flex: 1;
          flex-basis: 100%;
          .item {
            height: auto;
            border: 0;
          }
          .input-box {
            padding: 15px;
            border: 0;
            border-radius: 10px;
            background-color: #f7f7f7;
          }
        }
        .item {
          display: flex;
          padding: 15px 25px;
          height: 40px;
          line-height: 40px;
        }
        .label-box {
          flex-basis: 85px;
          font-size: $font-16;
          font-weight: bold;
          color: #000;
        }
        .input-box {
          overflow: hidden;
          flex: 1;
          padding: 0 15px;
          border: 1px solid #ddd;
          border-width: 0 0 1px 0;
          .input {
            width: 100%;
            height: 40px;
            line-height: 40px;
            border: 0;
            font-size: $font-16;
          }
          .textarea {
            width: 100%;
            height: 150px;
            font-size: $font-16;
            border: 0;
            background-color: #f7f7f7;
          }
        }
      }
    }
  }
  .trial {
    opacity: 0;
    transform: translateY(2vw);
    transition: all 0.6s ease;
  }
  &.active6 {
    .trial {
      opacity: 1;
      transition-delay: 0.3s;
      transform: translateY(0);
    }
  }
  .btn-box {
    margin-top: 35px;
    text-align: center;
    .btn {
      padding: 10px 50px;
      background-color: $color;
      border: 0;
      color: $white-color;
      font-size: $font-16;
      border-radius: 10px;
      cursor: pointer;
      .iconfont {
        padding-right: 15px;
      }
    }
  }
}
