@import "./common/reset.css";
@import "./common/font.css";
@import "./common/mixin.scss";
@import "./common/common.scss";

.wrapper {
  min-width: 1100px;
}
.c-banner {
  position: relative;
  overflow: hidden;
  img {
    display: block;
    width: 100%;
    animation: o-scale 20s linear infinite;
    &.cover {
      height: 600px;
      object-fit: cover;
    }
  }
  .txt-box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // z-index: 2;
  }
  h2 {
    font-size: $font-42;
    color: $white-color;
    font-weight: bold;
  }
  p {
    margin-top: 15px;
    font-size: $font-42;
    color: $white-color;
  }
  .underlined-title{
	  width: 170px;
	  margin: 0 auto;
  }
}
.page {
  overflow: hidden;
  background: $column-bj;
  .column-title {
    margin-bottom: 50px;
  }
  .enterprise {
    overflow: hidden;
    height: 484px;
    @include backcover;
    background-image: url("../images/solution/enterprise.jpg");
    .wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
    h3 {
      color: $white-color;
      font-size: $font-42;
    }
  }
  .apply {
    margin: 100px auto 3vw auto;
    .wrapper {
      margin: 0 auto;
    }
    .apply-box {
      overflow: hidden;
      height: 420px;
      color: $white-color;
      background: $color;
      h3 {
        margin-top: 150px;
        font-size: $font-36;
        text-align: center;
      }
      .btn {
        margin: 95px auto 0 auto;
        width: 175px;
      }
    }
  }
  .solution-line {
    border-bottom: 2px solid $color;
  }
  .intro {
    padding: 0 0 100px 0;
    .wrapper {
      display: flex;
    }
    .intro-left {
      flex: 1;
      .column-title {
        margin: 50px 0 0 0;
        text-align: left;
        font-size:$font-36;
      }
      .solution-line {
        margin: 55px 0;
      }
      p {
        padding-right: 55px;
        line-height: 1.7;
        font-size: $font-16;
      }
    }
    .intro-right {
      width: 580px;
      height: 500px;
      background: $color;
    }
  }
  // 手风琴
  .accordion {
    .accordion-hd {
      display: flex;
      padding: 0 40px;
      height: 50px;
      line-height: 50px;
      font-size: $font-20;
      background-color: $white-color;
      h5,
      i {
        color: $color;
      }
      h5 {
        flex: 1;
      }
      i {
        width: 25px;
        font-size: 25px;
        cursor: pointer;
      }
    }
    .accordion-bd{
      display: none;
      background-color: $white-color;
    }
    .active {
      h5 {
        color: $white-color;
      }
      background: $color;
      i {
        color: $white-color;
      }
    }
    >li {
      margin-bottom: 30px;
      box-shadow: $box-shadow;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  // 选项卡
  .success {
    overflow: hidden;
    padding: 100px 0;
    
    .column-title {
      padding: 0;
      text-align: left;
    }
    .txt {
      // margin: 20px 0;
      color: $color;
      font-size: $font-20;
    }
    .success-hd {
      display: flex;
      font-size: $font-20;
      li {
        margin: 0 45px 10px 0;
        padding: 15px 0;
        color: #999;
        cursor: default;
        &.active {
          position: relative;
          color: $color;
          transition: all 0.6s ease;
          &:before {
            content: "";
            position: absolute;
            bottom: 0;
            width: 50%;
            height: 5px;
            background: $light-blue-color;
          }
        }
      }
    }
    .success-bd {
      background-color: $color;
      color: $white-color;
      .item {
        position: relative;
        overflow: hidden;
        height: 420px;
        .txt-box {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: 2;
        }
        .content {
          overflow: hidden;
          padding-left: 100px;
        }
        h3,
        p,
        .btn {
          opacity: 0;
          transform: translateY(2vw);
          transition: all 0.6s ease;
        }
        h3 {
          font-size: 25px;
          color: #fff;
        }
        p {
          margin: 20px 0;
          max-width: 500px;
          font-size: 16px;
          line-height: 2;
          color: #fff;
        }

        &.swiper-slide-active {
          h3,
          p,
          .btn {
            opacity: 1;
            transform: translateY(0);
          }
          h3 {
            transition-delay: 0.2s;
          }
          p {
            transition-delay: 0.4s;
          }
          .btn {
            transition-delay: 0.8s;
          }
        }
      }
    }
  }
  // 图片
  .img-special-box img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 1100px;  
  }
  // 箭头tabs
  .arrow-tabs{ 
      font-size: $font-20;
      .tabs-hd {
        margin-bottom: 55px;
        display: flex;
        border-bottom: 4px solid #1b2c59;
        li {
          width: 350px;
          height: 50px;
          line-height: 50px;
          color: #999;
          text-align: center;
          cursor: default;
          &.active {
            color: $white-color;
            background-image: url("../images/solution/creo/design-tabs.png");
            background-repeat: no-repeat;
            transition: all 0.6s ease;
          }
		  a{
		  	color:$light-gray-color;
		  	cursor: pointer;
		  }
		  &.active{
		  	a{color: $white-color;}
		  }
        }		
      }
  }
}
// ansys-page
.ansys-page {
  .emulate {
    margin-bottom: 100px;
    .emulate-list {
      display: flex;
      // padding-top: 55px;
      li {
        flex: 1;
        margin: 0 20px;
        height: 560px;
        box-shadow: 0 0 3px #ddd;
        transition: all 0.3s ease;
        background-size: 100% auto;
        background-repeat: no-repeat;
        &:hover {
          box-shadow: $box-shadow;
        }
        .txt {
          overflow: hidden;
          width: 100%;
          height: 100%;
          background-image: linear-gradient(
            to bottom,
            rgba(255, 255, 255, 0.1) 40%,
            rgba(255, 255, 255, 1) 60%,
            #fff 100%
          );
        }
        .text-content {
          margin-top: 360px;
          padding: 0 50px;
          h5 {
            margin-bottom: 30px;
            font-size: 20px;
            color: $color;
            text-align: center;
          }
          p {
            font-size: $font-14;
            line-height: 1.75;
          }
        }
      }
    }
  }
  .cae {
    height: 1200px;
    @include backcover;
    background-image: url("../images/solution/ansys/cea-bj.jpg");
    .wrapper {
      padding: 100px 0;
    }
    .underlined-title {
      margin: 0 auto;
      width: 410px;
      font-size: $font-42;
      // &:before {
      //   bottom: 10px;
      // }
    }
    .border-title {
      margin: 60px auto 20px auto;
      display: block;
      width: 260px;
      height: 40px;
      line-height: 40px;
      font-size: $font-20;
      color: $white-color;
      text-align: center;
      border: 2px solid $white-color;
    }
    .cae-list {
      display: flex;
      flex-wrap: wrap;
      li {
        flex-basis: 20%;
        padding: 35px 0;
        text-align: center;
        color: $white-color;
        .iconfont,
        .name {
          display: block;
        }
        .iconfont {
          font-size: 50px;
          line-height: 50px;
          transition: all 0.8s ease;
        }
        .name {
          margin-top: 15px;
          font-size: $font-16;
        }
        &:hover {
          .iconfont {
            color: #3b61e0;
          }
          // .iconfont{transform: rotateY(180deg);}
        }
      }
    }
  }
  .ambient {
    padding: 100px 0;
    
    .wrapper {
      margin: 0 auto;
    }
  }
  .solution {
    padding-bottom: 100px;
    
    .wrapper {
      margin: 0 auto;
    }
    .txt {
      // margin-top: 55px;
      line-height: 1.75;
      font-size: $font-16;
    }
  }
  .advantage {
    padding-bottom: 100px;
    
    .advantage-list {
      display: flex;
      // margin-top: 55px;
      padding: 80px 0;
      height: 280px;
      border-radius: 30px;
      background-color: $white-color;
      li {
        flex: 1;
        padding: 0 30px;
        border-right: 2px solid #eee;
        .title {
          margin-bottom: 25px;
          font-size: $font-16;
          text-align: center;
          color: $color;
          font-weight: bold;
        }
        .txt {
          line-height: 1.7;
          text-align: center;
        }
        .icon {
          margin: 25px auto;
          width: 100px;
          height: 100px;
          &.icon1 {
            background-image: url("../images/solution/ansys/advantage-icon1.png");
            @include backcover;
          }
          &.icon2 {
            background-image: url("../images/solution/ansys/advantage-icon2.png");
            @include backcover;
          }
          &.icon3 {
            background-image: url("../images/solution/ansys/advantage-icon3.png");
            @include backcover;
          }
          &.icon4 {
            background-image: url("../images/solution/ansys/advantage-icon4.png");
            @include backcover;
          }
          &.icon5 {
            background-image: url("../images/solution/ansys/advantage-icon5.png");
            @include backcover;
          }
        }
        &:last-child {
          border: 0;
        }
      }
    }
  }
}
// windchill-page
.windchill-page {
  .assembly {
    // padding: 100px 0;
	padding-bottom: 100px;
    background: #fafafa;
  }
  .solution {
    overflow: hidden;
    height: 1078px;
    background-image: url("../images/solution/windchill/solution.jpg");
    @include backcover;
    .column-title {
      margin-top: 130px;
      margin-bottom: 0;
      text-align: left;
      color: $white-color;
    }
    .underlined-title {
      width: 270px;
      font-size: $font-36;
      &:before {
        // bottom: 8px;
        width: 250px;
      }
    }
    .solution-list {
      display: flex;
      flex-wrap: wrap;
      margin-top: 95px;
      border: 2px solid #5c6378;
      border-width: 2px 2px 0 0;
      .solution-item {
        box-sizing: border-box;
        flex-basis: 33.3%;
        color: $white-color;
        height: 200px;
        border: 2px solid #5c6378;
        border-width: 0 0 2px 2px;
        transition: all 0.3s ease;
        .default {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
        .hover {
          display: none;
          padding: 30px 0 0 30px;
          height: 168px;
          background: rgba(14, 29, 60, 0.8);
        }
        .title {
          font-size: $font-20;
          span {
            display: block;
            text-align: center;
          }
        }
        .txt-list {
          margin-top: 15px;
          overflow: hidden;
          li {
            position: relative;
            float: left;
            margin-right: 30px;
            padding-left: 10px;
            width: 120px;
            line-height: 20px;
            font-size: $font-12;
            &:before {
              content: "";
              position: absolute;
              top: 8px;
              left: 0;
              width: 5px;
              height: 5px;
              border-radius: 50%;
              background: $white-color;
            }
          }
        }
        &:hover {
          .default {
            display: none;
          }
          .hover {
            display: block;
          }
        }
      }
    }
  }
  .deploy {
    padding: 100px 0;
    
    .column-title {
      text-align: left;
    }
    .txt {
      font-size: $font-16;
      line-height: 1.75;
    }

    
    .deploy-list {
      margin-top: 55px;
      display: flex;
      justify-content: space-between;
      li {
        padding: 20px 30px;
        overflow: hidden;
        // flex: 1;
        width: 180px;
        height: 350px;
        transition: all 0.3s ease;
        &:hover {
          box-shadow: 0 0 20px #aaa;
          background-color: $white-color;
        }
      }

      .title {
        margin-bottom: 25px;
        font-size: $font-16;
        text-align: center;
        color: $color;
        font-weight: bold;
      }
      .txt {
        font-size: $font-14;
        line-height: 1.75;
        text-align: center;
      }
      .icon {
        margin: 10px auto 30px auto;
        width: 180px;
        height: 180px;
        &.icon1 {
          background-image: url("../images/solution/windchill/deploy-icon1.png");
          @include backcover;
        }
        &.icon2 {
          background-image: url("../images/solution/windchill/deploy-icon2.png");
          @include backcover;
        }
        &.icon3 {
          background-image: url("../images/solution/windchill/deploy-icon3.png");
          @include backcover;
        }
        &.icon4 {
          background-image: url("../images/solution/windchill/deploy-icon4.png");
          @include backcover;
        }
        &.icon5 {
          background-image: url("../images/solution/windchill/deploy-icon5.png");
          @include backcover;
        }
      }
    }
  }
  .features {
    
    .wrapper {
      display: flex;
    }
    .features-left {
      flex: 1;
    }
    .features-right {
      width: 480px;
    }
    .column-title {
      margin-bottom: 0;
      text-align: left;
    }
    .txt {
      margin: 20px 0;
      color: $color;
      font-size: $font-20;
    }

    .features-list {
      padding-right: 35px;
      dt {
        position: relative;
        margin: 30px 0 10px 0;
        padding-left: 15px;
        font-size: $font-16;
        font-weight: bold;
        &:before {
          position: absolute;
          top: 8px;
          left: 0;
          content: "";
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background-color: #000;
        }
      }
      dd {
        padding-left: 15px;
        line-height: 1.75;
      }
    }
  }

}
// creo-page
.creo-page {
    .column-title {
      margin-bottom: 55px;
    }
    .product {
      background: $color;
      .wrapper {
        display: flex;
        height: 450px;
      }
      .product-left {
        flex: 1;
        h3 {
          margin-top: 190px;
          font-size: $font-42;
          color: $white-color;
        }
      }
      .product-right {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 240px;
        height: 100%;
        .btn {
          a.index-more {
            width: 236px;
          }
          &:first-child {
            margin-bottom: 100px;
          }
        }
      }
    }
    .design {
      padding: 100px 0;
      
      .column-title {
        text-align: left;
      }
      p.txt {
        color: $color;
        font-size: $font-20;
      }
      .item {
        h4,
        p,
        img {
          opacity: 0;
          transform: translateY(2vw);
          transition: all 0.6s ease;
        }
        &.swiper-slide-active {
          h4,
          p,
          img {
            opacity: 1;
            transform: translateY(0);
          }
          h3 {
            transition-delay: 0.2s;
          }
          p {
            transition-delay: 0.4s;
          }
          img {
            transition-delay: 0.8s;
          }
        }
      }
      .tabs {
        margin-top: 55px;
        .txt-box {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: 2;
        }
        .design-info {
          display: flex;
          height: 360px;
          h4 {
            margin-bottom: 30px;
            font-size: $font-32;
            color: $color;
          }
          p {
            line-height: 1.75;
            font-size: $font-16;
          }
          .info-left {
            position: relative;
            flex: 1;
            padding: 0 40px 0 10px;
          }
          .info-right {
            width: 560px;
          }
        }
      }
    }
    .function {
      height: 300px;
      background: $color;
      .underlined-title {
        width: 185px;
      }
      .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 300px;
      }
    }
    .example{
      padding: 100px 0;
      .example-list {
        display: flex;
        flex-wrap: wrap;
        margin: -1px 0 0 -1px;
        .example-item {
          flex-basis: 33.3%;
          border: 1px solid #ddd;
          border-width: 1px 1px 0 0;
          box-sizing: border-box;
          &:nth-child(3n + 0) {
            border-right: 0;
          }
        }
        .txt-box {
          padding: 30px 40px;
          &:hover {
            color: $color;
            transform: scale(1.005);
            background: $white-color;
            box-shadow: $box-shadow;
          }
          .h6 {
            margin-bottom: 20px;
            font-size: $font-16;
          }
          .img-box {
            img {
              width: 100%;
            }
          }
        }
      }
    }
}
// mes-page 
.mes-page {
    .intro {
      .intro-right {
        width: 480px;
        height: 480px;
      }
    }
    // .trait {}
    .advantage{
      overflow: hidden;
      height: 860px;
      background: $color;
      color:$white-color;
      .column-title{
        margin-top: 100px;
        color:$white-color;
      }
      .advantage-list{
        display: flex;
        flex-wrap: wrap;
        li{
          width: 33.3%;     
          .advantage-item{
            margin: 40px auto;
            width: 200px;
            height: 230px;
            text-align: center;
            .iconfont{
              margin: 0 auto;
              display: block;
              width: 80px;
              height: 80px;
              background:$white-color;
            }
            h6{
              margin: 10px 0;
              font-size:$font-16;
            }
          }
        }
      }
    }
    .main-modules{
      .column-title{text-align: left;}
      padding-top: 100px;
      
      .main-content{
        padding: 50px;
        font-size:$font-16;
      }
      p{
        line-height: 1.75;
      }
      .list{
        margin-top: 30px;
        li{
          margin-top: -1px;
          padding: 15px 40px;
          border: 1px solid #e1e6f4;
          font-size:$font-14;
          >h6{
            position: relative;
            margin-bottom: 10px;
            &::before{
              position: absolute;
              content: '';
              top: 8px;
              left: -15px;
              width: 6px;
              height:6px;
              border-radius: 50%;
              background-color:#333;
            }
          }
          >p{
            color: #666;
          }
        
        }
      }
    }
    .success{
      .column-title{
        margin-bottom: 20px;
      }    
    }
    .interface{
      padding-top: 100px;
      
      .column-title{
        text-align: left;
      }
        // 幻灯片
  .interface-swiper {
    position: relative;
    margin: 0 auto;
    background:#fafafa;
    .swiper-container {
      padding-bottom: 60px;
    }
    .swiper-slide {
      width: 560px;
      height: 320px;
      background: #fff;
      box-shadow: 0 8px 30px #ddd;
    }
    .swiper-slide img{
      display:block;
      width: 100%;
      height: 100%;
    }
    .swiper-slide p { 
      margin: 0;
      padding-top: 0;
      height: 40px;
      line-height:40px;
      text-align: center;
      color: #636363;
      font-size: 14px;      
    }
    .swiper-pagination {
      width: 100%;
      bottom: 20px;
    }
    .swiper-pagination-bullets .swiper-pagination-bullet {
      margin: 0 4px;
      background-color: #d5d5d5;
      width: 10px;
      height: 10px;
      opacity: 1;
    }
    .swiper-pagination-bullets .swiper-pagination-bullet-active {
      background-color: #00aadc;
    }
    .swiper-button-prev,.swiper-button-next{
      margin-top: -25px;
      top: 50%;
      width: 50px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      background:#90a1cc;
      border-radius: 50%;
      .iconfont{
        color:$white-color;
        font-size: 25px;
      }
    }
  }
    }
}
// 数字转型
.solution-page{
   overflow: hidden;
   .product-title{
	   text-align: left;
   }
  .c-banner{
    .banner-box{
      width: 950px;
      h2{font-weight: normal;}
      p{
        font-size:$font-20;
      }
     }   
  }
  .solution {
    // padding: 100px 0;
	padding-bottom: 100px;
    .column-title{
      text-align:left;
    }
  }
  .ptc{
	overflow: hidden;
    margin-bottom: 50px;
    height: 300px;
    background-image: url("../images/solution/index/ptc-bj.png");
    background-repeat: no-repeat;
    .underlined-title{
      margin: 60px auto 0 auto;
      width: 80px;
    }
	.btn{
		  display: flex;
	    align-items: center;
		  justify-content: center;
	  	margin-top: 60px;
		.index-more{
			margin: 0 40px;
			width: 220px;
		}
	}
  }
  .product{
   margin-bottom: 100px;
  .product-item{
	  margin-bottom: 10px;
	.product-title{
     padding: 0 40px; 
     height: 50px;
     line-height: 50px;
	   color:$white-color;
     font-size: $font-20;
	   background:#0e7a3e;
	   box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
	  }
	  .product-body{
		  border: 1px solid #707070;
	  }
	  .product-list{
		  display: flex;
		  flex-wrap: wrap;
		  padding:40px 0;
		  li{
			  flex-basis: 33.3%;
			  text-align: center;
		  }
	  }
  }
    .lifecycle-item{
	  .product-title{
		  background: #276290;
	  }
	  .product-list{
		  li{
			 flex-basis: 25%;
		  }
	  }
  }	  
  }
  
  .ansys{
	  overflow: hidden;
	  margin-bottom: 50px;
	  height: 300px;
      background-image: url("../images/solution/index/ansys-bj.png");
      background-repeat: no-repeat;
	  .underlined-title{
	    margin: 60px auto 0 auto;
	    width: 140px;
	  }
	  .btn{
	  	display: flex;
	    align-items: center;
	  	justify-content: center;
	  	margin-top: 60px;
	  	// .index-more{width: 220px;}
	  }
  }
  .ansys-info{
	  margin-bottom: 100px;
	  .ansys-list{
		  display: flex;
		  li{
			  flex: 1;
			  display: flex;
			  flex-direction: column;
			  align-items: center;
			  justify-content: center;
			  margin: 0 20px;
			  height: 160px;
			  border: 2px solid $color;
			  border-radius: 20px;
			  text-align: center;
			  font-size:$font-16;
			  transition: all 0.3s ease;
			  i,span{
			  		display:block;
			  	    color: $color;
			  }
			  i{
				  font-size: 60px;
				  line-height: 60px;
			  }
			  span{
				  margin: 5px auto 0 auto;
				  width: 80px;
				  font-size:$font-16;
			  }
			  &:first-child{
				  margin-left: 0;
			  }
			  &:last-child{
				  margin-right: 0;
			  }
			  &:hover{
				  background: $color;
				  i,span{
					  color: $white-color;
				  }
			  }
		  }
	  }
	  .btn-box{
		  display: flex;
		  margin-top: 30px;
		  .btn{
			  flex: 1;
			  display: flex;
			  align-items: center;
			  justify-content: center;
			  height: 80px;
			  background:$color;
			  border-radius: 25px;
			  color:$white-color;
			  text-align: center;
			  font-size:$font-20;
			  
			  i{
				  font-size:30px;
				  margin-right: 20px;
				
			  }
			  &:first-child{
				  margin-right:20px;
				  background:#3b61e0;
				  }
			  &:last-child{margin-left: 20px;}
		  }
	  }
  }
  .mes{
	  background-image:url("../images/solution/index/mes-bj.png");
	  .underlined-title{
		  width: 215px;
	  }
  }
  .digital{
	   margin: 50px 0 100px 0;
  }
}

// 新闻动态
.news-page{
	.news{
		margin-bottom: 100px;
	}
	.arrow-tabs{
		margin: 0 0 50px 0;
		li{
			a{
				color:$light-gray-color;
				cursor: pointer;
			}
			&.active{
				a{color: $white-color;}
			}
		}
	}
	.news-list{
		li{
			display:flex;
			padding: 30px;
			border-bottom: 2px solid #e5e5e5;
			transition: all .3s ease;
			&:hover{
				background: $color;
				a{
					color: $white-color;
				} 
			}
			.picture-box {
			  position: relative;
			  overflow: hidden;
			  img{display: block;width: 100%;}
			  .date {
			    z-index: 1;
			    position: absolute;
			    padding-left: 15px;
			    bottom: 25px;
			    width: 120px;
			    height: 45px;
			    line-height: 45px;
			    color: $white-color;
			    background: rgb(31, 47, 90, 0.8);
			    font-size: $font-12;
			    span {
			      padding-right: 3px;
			    }
			    .month {
			      font-size: $font-20;
			    }
			  }
			}
		    .txt-box{
				flex: 1;
				margin-left: 30px;
				.h6{
					font-size: $font-20;
				}
				.desc{
					overflow: hidden;
					margin-top: 30px;
					height: 75px;
					font-size: $font-14;
					line-height: 1.75;
				}
			}
		}
	}	
}

// 新闻详情!
.news-details-page{
	// .banner{
	// 	margin-bottom: 100px;
	// }
	.news-container{
		padding: 50px 0;
		background:$white-color;
	}
	.news-title{
		margin-bottom: 50px;
		.h4{
			font-size:$font-30;
			text-align: center;
		}
	}
	.news-info{
		display: flex;
		margin-bottom: 50px;
		height: 40px;
		line-height: 40px;
		background: #f0f0f0;
		font-size: $font-14;
		li{
			position: relative;
			flex: 1;
			color:#666;
			text-align: center;
			&::after{
				position: absolute;
				top:5px;
				right: 0;
				content: '';
				width: 2px;
				height: 30px;
				background: $white-color;
			}
			&:last-child{
				&::after{
					width: 0;
					height: 0;
				}
			}
		}
	}
    .news-content{
		overflow: hidden;
		padding: 0 20px;
	}
	.prenext{
		margin: 50px 0;
	}
	.news-more{
		margin-bottom:100px;
	}
}

.case-page {
	padding-bottom: 100px;
	.arrow-tabs{
		margin: 0 0 50px 0;	
	}
	.case-list{
	    display: flex;
		flex-wrap: wrap;
		.case-item{
		   position: relative;	 
		   box-sizing: border-box;
		   display: inline-block;		  
		    margin:0 40px 40px 0 ;	   		  
			width: calc(33.3% - 27px);
			background: #fff;
			box-shadow: 0 0 1vw rgba(0, 0, 0, 0.1);
			 transition: all .3s ease;
			&:nth-child(3n + 0) {
			   margin-right: 0;
			}
			&:hover{
				box-shadow: 0 0 1vw rgba(0, 0, 0, 0.4);		
			}
			.img-box{
				img{display: block;width: 100%;}
			}
			.txt-box{
				padding: 1.5vw;
				.h6{
					    font-size:$font-16;
					    line-height: 24px;
					    color: #333;
					     @extend .ellipsis;
					}				
			}
		}	
	}
}

// 资料下载
.download-page{
	padding-bottom: 100px;
	.down-list{
		display: flex;
		flex-wrap: wrap;
		>li{		
			// flex-basis: 20%;	
			margin:0 20px 20px 0 ;
			width: calc(20% - 16px);
			&:nth-child(5n + 0) {
			   margin-right: 0;
			}
			.down-item{
			  position: relative;
			  // margin: 10px;
			  padding: 20px;
			  height: 150px;
			  background-color:$white-color;
			  background-image: url("../images/download-icon-bj.png");
			  background-repeat:no-repeat;
			  background-position: right bottom;
		      box-shadow: 0 0 1vw rgba(0, 0, 0, 0.1);
			  transition: all .3s ease;
			  &:before{
				  position: absolute;
				  top:0;
				  left: 0;
				  content: '';
				  width: 100%;
				  height: 2px;
				  background-color:$light-blue;
			  }	
			  &:hover{
					border-radius: 0 1.5vw 0 0;
					.hide{
					  	opacity: 1;
					}
				}
			}
			.show{
				position: relative;
				height: 100%;
				.h6{
					position: relative;
					font-size: $font-16;
					padding-left:15px;
					&::before{
						content: '';
						position: absolute;
						left:0;
						top:8px;
						border-radius: 50%;
						width: 8px;
						height: 8px;
						background: #333;
					}
				}
				.date{
					position: absolute;
					bottom: 0;
					width: 100%;
					color: $light-gray-color;
				}
			}
			.hide{
				position:absolute;
				left:0;
				top: 0;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				width: 100%;
				height: 100%;
				opacity: 0;			
				background-color: rgba(0,0,0,.8);
				transition: all .3s ease;
				a{
					color:$white-color;
				}
				.h6,.icon-box{
					font-size: $font-16;
					text-align: center;
				}
				.icon-box{
					margin-top: 20px;
				}
				.iconfont{
					font-size: 30px;
				}
			}
		}
	}
}

// 课程培训
.train-page{
	padding-bottom: 100px;
	.train-list{
		display:flex;
		flex-wrap: wrap;
		>li{
			flex-basis: 50%;
			.train-item{
				margin: 20px;
				height: 100px;
				background: red;
			}
		}
	}
}













