<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{eyou:global name='web_title' /}</title>

	<link rel="stylesheet" href="{eyou:global name='web_templets_pc' /}/skin/css/fullpage.min.css">
	<link rel="stylesheet" href="{eyou:global name='web_templets_pc' /}/skin/css/swiper-bundle.min.css">
	<link rel="stylesheet" href="{eyou:global name='web_templets_pc' /}/skin/css/index.min.css">
	<!--[if lt IE 9]>
    <div class="notsupport">
        <h1>:( 非常遗憾</h1>
        <h2>您的浏览器版本太低，请升级您的浏览器</h2>
    </div>
    <![endif]--> 
</head>

<body>
	<!--网站公用头部——开始-->
	{eyou:include file="header.htm" /}
	<!--网站公用头部——结束-->
	<div id="fullpage" class="section">
		<div class="section section1">
			<div class="swiper-container">
				<div class="swiper-wrapper">
					{eyou:adv pid='1'}
					<div class="swiper-slide item">
						<div class="txt-box cell-box">
							<div class="cell">
								<div class="wrapper">
									<h3 class="h3">{$field.title}</h3>
									<p>{$field.intro}</p>
									<div class="btn">
										<a href="{$field.links}" class="index-more white">查看详情 <i class="iconfont icon-right-arrow"></i></a>
									</div>
								</div>
							</div>
						</div>
						<div class="bg-box" style="background-image: url({$field.litpic});"></div>
					</div>
					{/eyou:adv}
				</div>
				<!-- Pagination -->
				<div class="pagination swiper-pagination"></div>
				<div class="button button-prev"></div>
				<div class="button button-next"></div>
			</div>
		</div>
		<!--section1  -->
		<div class="section section2">
			<div class="cont-box cell-box">
				<div class="cell">
					<div class="tab-cont">
						<div class="wrapper">
							<div class="item active">
								<div class="index-tit">
									<h3 class="h3">数字研发管理平台</h3>
									<ul>
										<li><a href="#">windchill</a></li>
										<li><a href="#">Creo</a></li>
									</ul>
									<p>
										数字化转型是工业企业势在必行的一项业务战略。客户期望的转变、变幻莫测的全球贸易环境、成本压力的不确定性、劳动力的短缺等为企业带来了各种各样的挑战，因此，在产品、服务、运营、员工发展等方面提高创新性、敏…
									</p>
								</div>
								<div class="btn">
									<a href="#" class="index-more">查看更多 <i class="iconfont icon-right-arrow"></i></a>
								</div>
							</div>
							<div class="item">
								<div class="index-tit">
									<h3 class="h3">智能制造</h3>
									<ul>
										<li><a href="#">windchill</a></li>
									</ul>
									<p>
										数字化转型是工业企业势在必行的一项业务战略。客户期望的转变、变幻莫测的全球贸易环境、成本压力的不确定性、劳动力的短缺等为企业带来了各种各样的挑战，因此，在产品、服务、运营、员工发展等方面提高创新性、敏…
									</p>
								</div>
								<div class="btn">
									<a href="#" class="index-more">查看更多 <i class="iconfont icon-right-arrow"></i></a>
								</div>
							</div>
							<div class="item">
								<div class="index-tit">
									<h3 class="h3">智能制造</h3>
									<ul>
										<li><a href="#">windchill</a></li>
									</ul>
									<p>
										数字化转型是工业企业势在必行的一项业务战略。客户期望的转变、变幻莫测的全球贸易环境、成本压力的不确定性、劳动力的短缺等为企业带来了各种各样的挑战，因此，在产品、服务、运营、员工发展等方面提高创新性、敏…
									</p>
								</div>
								<div class="btn">
									<a href="#" class="index-more">查看更多 <i class="iconfont icon-right-arrow"></i></a>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-tit">
						<div class="wrapper">
							<div class="item active">
								<div class="icon">
									<i class="iconfont icon-zhinenghua"></i>
								</div>
								<div class="txt">
									<h4>数字研发管理平台</h4>
									<p>
										数字化转型是工业企业势在必行的一项业务战略。客户期望的转变、变幻莫测的全球贸易环境、成本压力的不确定性、劳动力的短缺等为企业带来了各种各样的挑战，因此，在产品、服务、运营、员工发展等方面提高创新性、敏…
									</p>

								</div>
							</div>
							<div class="item">
								<div class="icon">
									<i class="iconfont icon-wuli"></i>
								</div>
								<div class="txt">
									<h4>多物理场仿真平台</h4>
									<p>
										数字化转型是工业企业势在必行的一项业务战略。客户期望的转变、变幻莫测的全球贸易环境、成本压力的不确定性、劳动力的短缺等为企业带来了各种各样的挑战，因此，在产品、服务、运营、员工发展等方面提高创新性、敏…
									</p>

								</div>
							</div>
							<div class="item">
								<div class="icon">
									<i class="iconfont icon-gongchang"></i>
								</div>
								<div class="txt">
									<h4>数字工厂解决方案</h4>
									<p>基于以太坊的区块链开发与多重签名的智能合约编写，在分布式账本上进行价值保存，存储数据，封装代码、执行计算任务。</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bg-box">
				<div class="bg"></div>
			</div>
		</div>
		<!-- section2 -->
		<div class="section section3">
			<div class="cont-box cell-box">
				<div class="cell">
					<div class="tab-cont">
						<div class="wrapper">
							<div class="item active">
								<div class="index-tit white">
									<h3 class="h3">智能制造</h3>
									<h5>企业数字化转型最优解</h5>
									<p>
										工业互联网运营平台采用先进的分布式云计算技术，实现支持制造行业从研发设计、生产制造、质量管控、物流运输以及市场营销等全流程的运营平台服务。
									</p>
								</div>
							</div>
							<div class="item">
								<div class="index-tit white">
									<h3 class="h3">智能制造2</h3>
									<h5>企业数字化转型最优解</h5>
									<p>
										工业互联网运营平台采用先进的分布式云计算技术，实现支持制造行业从研发设计、生产制造、质量管控、物流运输以及市场营销等全流程的运营平台服务。
									</p>
								</div>
							</div>
							<div class="item">
								<div class="index-tit white">
									<h3 class="h3">智能制造3</h3>
									<h5>企业数字化转型最优解</h5>
									<p>
										工业互联网运营平台采用先进的分布式云计算技术，实现支持制造行业从研发设计、生产制造、质量管控、物流运输以及市场营销等全流程的运营平台服务。
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-tit">
						<div class="wrapper">
							<div class="item active">
								<div class="icon">
									<i class="iconfont icon-qiyeshuzihua"></i>
								</div>
								<div class="txt">
									<p>企业数字化转型最优解</p>
								</div>
							</div>
							<div class="item">
								<div class="icon">
									<i class="iconfont icon-tuandui"></i>
								</div>
								<div class="txt">
									<p>阳普专业团队助力</p>
								</div>
							</div>
							<div class="item">
								<div class="icon">
									<i class="iconfont icon-huizhang"></i>
								</div>
								<div class="txt">
									<p>优秀企业的信赖之选</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bg-box">
				<div class="bg"></div>
				<!-- <div class="item active" style="background-image: url(static/images/index/img-8-1.jpg);"></div>
					<div class="item" style="background-image: url(static/images/index/img-8-1.jpg);"></div>
					<div class="item" style="background-image: url(static/images/index/img-8-1.jpg);"></div> -->
			</div>
		</div>
		<!--section3-->
		<div class="section section4">
			<div class="cont-box cell-box">
				<div class="cell">
					<div class="wrapper">A
						<div class="index-tit white">
							<h3 class="h3">合作客户</h3>
						</div>
						<div class="partner">
							<div class="swiper swiper1">
								<div class="swiper-wrapper">
									<div class="swiper-slide">
										<div class="index-tit white">
											<h5>企业数字化转型最优解</h5>
											<p>
												工业互联网运营平台采用先进的分布式云计算技术，实现支持制造行业从研发设计、生产制造、质量管控、物流运输以及市场营销等全流程的运营平台服务。
											</p>
											<div class="btn">
												<a href="#" class="index-more white">查看详情 <i class="iconfont icon-right-arrow"></i></a>
											</div>
										</div>
										<div class="img-box">
											<img src="{eyou:global name='web_templets_pc' /}/skin/images/test/nature-1.jpg" />
										</div>
									</div>
									<div class="swiper-slide">
										<div class="index-tit white">
											<h5>企业数字化转型最优解</h5>
											<p>
												工业互联网运营平台采用先进的分布式云计算技术，实现支持制造行业从研发设计、生产制造、质量管控、物流运输以及市场营销等全流程的运营平台服务。
											</p>
											<div class="btn">
												<a href="#" class="index-more white">查看详情 <i class="iconfont icon-right-arrow"></i></a>
											</div>
										</div>
										<div class="img-box">
											<img src="{eyou:global name='web_templets_pc' /}/skin/images/test/nature-2.jpg" />
										</div>
									</div>
									<div class="swiper-slide">
										<div class="index-tit white">
											<h5>企业数字化转型最优解</h5>
											<p>
												工业互联网运营平台采用先进的分布式云计算技术，实现支持制造行业从研发设计、生产制造、质量管控、物流运输以及市场营销等全流程的运营平台服务。
											</p>
											<div class="btn">
												<a href="#" class="index-more white">查看详情 <i class="iconfont icon-right-arrow"></i></a>
											</div>
										</div>
										<div class="img-box">
											<img src="{eyou:global name='web_templets_pc' /}/skin/images/test/nature-3.jpg" />
										</div>
									</div>
									<div class="swiper-slide">
										<div class="index-tit white">
											<h5>企业数字化转型最优解</h5>
											<p>
												工业互联网运营平台采用先进的分布式云计算技术，实现支持制造行业从研发设计、生产制造、质量管控、物流运输以及市场营销等全流程的运营平台服务。
											</p>
											<div class="btn">
												<a href="#" class="index-more white">查看详情 <i class="iconfont icon-right-arrow"></i></a>
											</div>
										</div>
										<div class="img-box">
											<img src="{eyou:global name='web_templets_pc' /}/skin/images/test/nature-4.jpg" />
										</div>
									</div>
									<div class="swiper-slide">
										<div class="index-tit white">
											<h5>企业数字化转型最优解</h5>
											<p>
												工业互联网运营平台采用先进的分布式云计算技术，实现支持制造行业从研发设计、生产制造、质量管控、物流运输以及市场营销等全流程的运营平台服务。
											</p>
											<div class="btn">
												<a href="#" class="index-more white">查看详情 <i class="iconfont icon-right-arrow"></i></a>
											</div>
										</div>
										<div class="img-box">
											<img src="{eyou:global name='web_templets_pc' /}/skin/images/test/nature-5.jpg" />
										</div>
									</div>
									<div class="swiper-slide">
										<div class="index-tit white">
											<h5>企业数字化转型最优解</h5>
											<p>
												工业互联网运营平台采用先进的分布式云计算技术，实现支持制造行业从研发设计、生产制造、质量管控、物流运输以及市场营销等全流程的运营平台服务。
											</p>
											<div class="btn">
												<a href="#" class="index-more white">查看详情 <i class="iconfont icon-right-arrow"></i></a>
											</div>
										</div>
										<div class="img-box">
											<img src="{eyou:global name='web_templets_pc' /}/skin/images/test/nature-6.jpg" />
										</div>
									</div>
								</div>
								<!-- <div class="swiper-button-next"></div>
									<div class="swiper-button-prev"></div> -->
							</div>
							<div class="swiper swiper2">
								<div class="swiper-wrapper">
									<div class="swiper-slide">
										<img src="{eyou:global name='web_templets_pc' /}/skin/images/test/nature-1.jpg" />
									</div>
									<div class="swiper-slide">
										<img src="{eyou:global name='web_templets_pc' /}/skin/images/test/nature-2.jpg" />
									</div>
									<div class="swiper-slide">
										<img src="{eyou:global name='web_templets_pc' /}/skin/images/test/nature-3.jpg" />
									</div>
									<div class="swiper-slide">
										<img src="{eyou:global name='web_templets_pc' /}/skin/images/test/nature-4.jpg" />
									</div>
									<div class="swiper-slide">
										<img src="{eyou:global name='web_templets_pc' /}/skin/images/test/nature-5.jpg" />
									</div>
									<div class="swiper-slide">
										<img src="{eyou:global name='web_templets_pc' /}/skin/images/test/nature-6.jpg" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="button button-prev"></div>
			<div class="button button-next"></div>
			<div class="bg-box">
				<div class="bg"></div>
			</div>
		</div>
		<!-- section4 -->
		<!-- section4 -->
		<div class="section section5">
			<div class="bg-box">
				<div class="bg"></div>
			</div>
			<div class="cont-box cell-box">
				<div class="cell">
					<div class="wrapper">
						{eyou:channelartlist typeid='2'}
						<div class="mid-block">
							<div class="item">
								<div class="title">
									<h3 class="h3">{eyou:field name='typename' /}</h3>
									<div class="btn">
										<a href="{eyou:field name='typeurl' /}" class="index-more">查看更多 <i
												class="iconfont icon-right-arrow"></i></a>
									</div>
								</div>
							</div>
							{eyou:arclist row='5'}
							<div class="item">
								<a href="{$field.arcurl}">
									<div class="picture-box">
										<div class="date">
											<span class="month">{$field.add_time|MyDate='m',###}/</span>
											<span>{$field.add_time|MyDate='d',###}</span>
											<span>{$field.add_time|MyDate='Y',###}</span>
										</div>
										<img src="{$field.litpic}" alt="{$field.title}" />
									</div>
									<div class="txt-box">
										<h6 class="h6">{$field.title}</h6>
										<div class="desc">{$field.seo_description|html_msubstr=###,0,40,true}</div>
									</div>
								</a>
							</div>
							{/eyou:arclist}
						</div>
						{/eyou:channelartlist}
					</div>
				</div>
			</div>
		</div>
		<div class="section section6">
			<div class="cont-box cell-box">
				<div class="cell">
					<div class="wrapper">
						<div class="trial">
							<div class="left">
								<div class="subTitle-box">
									<h3 class="underlined-title">免费试用</h3>
								</div>
							</div>
							<div class="right">
								<ul class="form-list" id="city_i">
									<li>
										<div class="item">
											<div class="label-box">您的姓名 <span class="red">*</span></div>
											<div class="input-box"><input type="text" class="input"></div>
										</div>
									</li>
									<li>
										<div class="item">
											<div class="label-box">公司/学校 <span class="red">*</span></div>
											<div class="input-box"><input type="text" class="input"></div>
										</div>
									</li>
									<li>
										<div class="item">
											<div class="label-box">电子邮件 <span class="red">*</span></div>
											<div class="input-box"><input type="text" class="input"></div>
										</div>
									</li>
									<li>
										<div class="item">
											<div class="label-box">感兴趣的产品<span class="red">*</span></div>
											<div class="input-box">
												<!-- <input type="text" class="input" placeholder="请输入邮箱地址"> -->
												<select type="text" class="input">
													<option selected="selected" disabled="disabled" style='display: none' value=''></option>
													<option value="PTC">PTC</option>
													<option value=" Creo"> Creo</option>
													<option value="PTC ">PTC </option>
													<option value="PLM">PLM</option>
													<option value="Windchill">Windchill</option>
													<option value="PTC AR">PTC AR</option>
													<option value="PTC IoT">PTC IoT</option>
													<option value="Ansys结构">Ansys结构</option>
													<option value="Ansys流体">Ansys流体</option>
													<option value="Ansys电磁">Ansys电磁</option>
													<option value="Smart. MES">Smart. MES</option>
													<option value="其他产品">其他产品</option>
												</select>
											</div>
										</div>
									</li>
									<li>
										<div class="item">
											<div class="label-box">所在的省<span class="red">*</span></div>
											<div class="input-box">
												<!-- <input type="text" class="input" placeholder="请输入邮箱地址"> -->
												<select type="text" class="input prov">
												</select>
											</div>
										</div>
									</li>
									<li>
										<div class="item">
											<div class="label-box">所在市<span class="red">*</span></div>
											<div class="input-box">
												<!-- <input type="text" class="input" placeholder="请输入邮箱地址"> -->
												<select type="text" class="input city">
												</select>
											</div>
										</div>
									</li>
								</ul>
								<div class="submit-btn">
									<button class="btn"><i class="iconfont icon-submit"></i>提交</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="section section7 fp-auto-height">
			<!--网站公用底部——开始-->
			{eyou:include file="footer.htm" /}
			<!--网站公用底部——结束-->
			<!-- footer -->
		</div>
		<script src="{eyou:global name='web_templets_pc' /}/skin/js/build.js"></script>
		<script src="{eyou:global name='web_templets_pc' /}/skin/js/app.js"></script>
</body>

</html>