<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>关于我们</title>
		<link rel="stylesheet" href="{eyou:global name='web_templets_pc' /}/skin/css/style.min.css" />
		<link rel="stylesheet" href="{eyou:global name='web_templets_pc' /}/skin/css/swiper.min.css">
	</head>
	<body>
		<!--网站公用头部——开始-->
{eyou:include file="header.htm" /}
<!--网站公用头部——结束-->
		<!-- header -->
		<div class="about-page page">
			<div class="about">
				<div class="wrapper">
					<div class="about-content">
						<h2>广州阳普智能系统科技有限公司</h2>
						<p>成立于2003年，专注于为制造企业提供智能产品研发和产品智能制造解决方案与服务。</p>
						<p>我们的解决方案依托于全球领先的产品开发软件供应商。从客户的行业特点和具体的业务需求出发，参考各行业产品开发的实践，结合阳普领域专家的知识和经验，为客户提供个性化的PLM和CAE软件应用系统。

							立足于自主研发的Smart系列软件，实现产品制造过程的数字化和智能化，为客户提供从智能制造规划到方案落地的软件与硬件集成服务。</p>
					</div>
				</div>
				<div class="about-menu">
					<div class="wrapper">
             
						<div class="fr">
              {eyou:channel type="first" row='10' currentstyle="hover"}
							<a href="{$field.typeurl}" class="active">{$field.typename}</a>
              {/eyou:channel}
						</div>
					</div>
				</div>
			</div>
			<!-- 关于我们 -->
			<div class="wrapper">
				<div class="breadcrumb">
					<i class="iconfont icon-shouye"></i>
          <a class="link">{eyou:position style=""/}</a>
				</div>
			</div>
			<!-- 当前位置 -->
			<div class="honour" id="honour">
				<div class="wrapper">
					<h3 class="column-title">公司荣誉</h3>
					<div class="honour-content">
						阳普科技是高新技术企业，多年深耕技术开发领域…阳普科技是高新技术企业，多年深耕技术开发领域…阳普科技是高新技术企业，多年深耕技术开发领域…阳普科技是高新技术企业，多年深耕技术开发领域…阳普科技是高新技术企业，多年深耕技术开发领域…
					</div>
					<div class="honour-swiper custom-swiper">
						<div class="swiper-box">
							<div class="swiper ">
								<div class="swiper-wrapper" >
                  {eyou:list titlelen='40' pagesize='8'}
									<div class="swiper-slide" >
                    <a href="{$field.litpic}" title="{$field.title}">
										<div class="img-box">
											<img src="{$field.litpic}" width="230">
										</div>
										<h6 class="h6">{$field.title}</h6>
									</div> 
                  {/eyou:list}  

								</div>
							</div>
						</div>
						<div class="swiper-button-prev"><i class="iconfont  icon-arrow-left"></i></div>
						<div class="swiper-button-next"><i class="iconfont icon-arrow-right"></i></div>
						<div class="swiper-pagination"></div>
					</div>
				</div>
			</div>
			<!-- honour -->
			<div class="culture" id="culture">
				<div class="wrapper">
					<h3 class="column-title">阳普文化</h3>
					<ul class="culture-list">
						<li>
							<div class="icon">
								<i class="iconfont icon-gongsiyuanjing"></i>
							</div>
							<h6 class="h6">远景</h6>
							<p>智能研发和智能制造推动企业变革</p>
						</li>
						<li>
							<div class="icon">
								<i class="iconfont icon-jiazhiguan"></i>
							</div>
							<h6 class="h6">使命</h6>
							<p>提供从智能产品研发到产品智能制造的一站式解决方案</p>
						</li>
						<li>
							<div class="icon">
								<i class="iconfont icon-qiyeshiming"></i>
							</div>
							<h6 class="h6">价值观</h6>
							<p>诚实守信、精益求精、团队协作、互助共赢</p>
						</li>
					</ul>
				</div>
			</div>
			<!-- 文化 -->
			<div class="history" id="history">
				<div class="wrapper">
					<h3 class="column-title">发展历程</h3>
					<div class="history-swiper custom-swiper">
						<div class="swiper">
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									<div class="txt">
										<p>公司成立</p>
									</div>
									<div class="date">2003年</div>
									<div class="line">
										<span class="icon-circle"></span>
									</div>
								</div>
								<div class="swiper-slide">
									<div class="txt">
										<p>成为PTC银牌渠道合作伙伴</p>
									</div>
									<div class="date">2003年</div>
									<div class="line">
										<span class="icon-circle"></span>
									</div>
								</div>
								<div class="swiper-slide">
									<div class="txt">
										<p>成为PTC金牌合作伙伴，与PTC联合组建“PTC产品开发体系华南理工推广中心”落户华南理工大学</p>
									</div>
									<div class="date">2003年</div>
									<div class="line">
										<span class="icon-circle"></span>
									</div>
								</div>
								<div class="swiper-slide">
									<div class="txt">
										<p>入选PTC09财年亚太区Winner Sales精英奖，华南区唯一获选代理商</p>
									</div>
									<div class="date">2003年</div>
									<div class="line">
										<span class="icon-circle"></span>
									</div>
								</div>
								<div class="swiper-slide">
									<div class="txt">
										<p>END</p>
									</div>
									<div class="date">2003年</div>
									<div class="line">
										<span class="icon-circle"></span>
									</div>
								</div>
							</div>
							<!-- <div class="swiper-pagination"></div> -->
						</div>
						<div class="swiper-button-prev"><i class="iconfont  icon-arrow-left"></i></div>
						<div class="swiper-button-next"><i class="iconfont icon-arrow-right"></i></div>
					</div>
				</div>
			</div>
			<!-- 历史 -->
		</div>
		<!-- page -->
		<div class="footer">
			<div class="wrapper">
				<div class="menu">
					<div class="left">
						<ul class="company">
							<li><img src=".{eyou:global name='web_templets_pc' /}/skin/images/footer-logo.png" /></li>
							<li><i class="iconfont icon-phone"></i> 020-8556 4896</li>
							<li><i class="iconfont icon-address"></i>广州市天河区高唐路233号6栋802</li>
							<li><i class="iconfont icon-mail"></i> mkt@sunprocn.com</li>
							<li>
								<a href="#"><i class="iconfont icon-WeChat"></i></a>
								<a href="#"><i class="iconfont icon-weibo"></i></a>
							</li>
						</ul>
					</div>
					<div class="right">
						<div class="menu-list">
							<div class="menu-item">
								<dl>
									<dt>产品及解决方案</dt>
									<dd><a href="#">数字研发管理平台</a></dd>
									<dd><a href="#">多物理场仿真平台</a></dd>
									<dd><a href="#">数字工厂解决方案</a></dd>
								</dl>
							</div>
							<div class="menu-item">
								<dl>
									<dt>客户案例</dt>
									<dd><a href="#">PTC案例</a></dd>
									<dd><a href="#">Ansys案例</a></dd>
									<dd><a href="#">MES案例</a></dd>
								</dl>
							</div>
							<div class="menu-item">
								<dl>
									<dt>关于我们</dt>
									<dd><a href="#">公司简介</a></dd>
									<dd><a href="#">发展历程</a></dd>
									<dd><a href="#">企业价值</a></dd>
									<dd><a href="#">企业价值</a></dd>
									<dd><a href="#">荣誉资质</a></dd>
								</dl>
							</div>
							<div class="menu-item">
								<dl>
									<dt>联系我们</dt>
									<dd><a href="#">联系方式</a></dd>
									<dd><a href="#">招贤纳士</a></dd>
									<dd><a href="#">在线联系</a></dd>
								</dl>
							</div>
						</div>
					</div>
				</div>
				<div class="copyright">
					<div class="c-left">版权所有：广州阳普智能系统科技有限公司 Powered by EyouCms　粤ICP备18030006号-1</div>
					<div class="c-right">
						<div class="link_list">
							<span>友情链接</span>
							<a href="#">ANSYS</a>
							<a href="#">PTC</a>
							<a href="#">Moldex3D</a>
						</div>
						<div class="map">
							<a href="">网站地图</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- footer -->
		<script src="{eyou:global name='web_templets_pc' /}/skin/js/build.js"></script>
		<script src="{eyou:global name='web_templets_pc' /}/skin/js/app.js"></script>
	</body>
</html>
