<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>数字化转型</title>
		<link rel="stylesheet" href="{eyou:global name='web_templets_pc' /}/skin/css/swiper.min.css" />
		<link rel="stylesheet" href="{eyou:global name='web_templets_pc' /}/skin/css/style.min.css" />
	<body>
<!--网站公用头部——开始-->
{eyou:include file="header.htm" /}
<!--网站公用头部——结束-->
		<!-- header -->
		<div class="page solution-page">
			<div class="c-banner">
				<img src=".{eyou:global name='web_templets_pc' /}/skin/images/solution/ansys/img1.jpg" alt="" class="cover" />
				<div class="txt-box cell-box">
					<div class="cell">
						<div class="wrapper">
							<div class="banner-box">
								<h2>数字化转型</h2>
								<p>数字化转型是工业企业势在必行的一项业务战略。客户期望的转变、变幻莫测的全球贸易环境、成本压力的不确定性、劳动力的短缺等为企业带来了各种各样的挑战，因此，在产品、服务、运营、员工发展等方面提高创新性、敏捷性和适应性变得迫在眉睫。
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- c-banner -->
			<div class="wrapper">
				  <div class="breadcrumb">
					  <i class="iconfont icon-shouye"></i>
                      {eyou:position style="" /}
				 </div>
			 </div>
			 <!-- 当前位置 -->
			<div class="solution">
				<div class="wrapper">
					<h3 class="column-title">数字化企业解决方案</h3>
					<div class="img-special-box">
						<img src=".{eyou:global name='web_templets_pc' /}/skin/images/solution/index/solution.png" />
					</div>
				</div>
			</div>
			<div class="wrapper">
				<h3 class="column-title product-title">数字化企业解决方案</h3>
			</div>		
			<!-- 解决方案 -->
			<div class="ptc">
				<div class="wrapper">
					<h3 class="underlined-title">PTC</h3>
					<div class="btn">
						<a href="#" class="index-more white">
							Creo了解详情
							<i class="iconfont icon-right-arrow"></i>
						</a>
						<a href="#" class="index-more white">
							Windchill了解详情
							<i class="iconfont icon-right-arrow"></i>
						</a>
					</div>
				</div>
			</div>
			<!-- ptc -->
			<div class="product">
				<div class="wrapper">
					<div class="product-item">
						<h4 class="product-title">
							APPS & ACCELERATORS
						</h4>
						<div class="product-body">
							<ul class="product-list">
								<li><img src=".{eyou:global name='web_templets_pc' /}/skin/images/solution/index/apps-1.png"></li>
								<li><img src=".{eyou:global name='web_templets_pc' /}/skin/images/solution/index/apps-2.png"></li>
								<li><img src=".{eyou:global name='web_templets_pc' /}/skin/images/solution/index/apps-3.png"></li>
							</ul>
						</div>
					</div>
					<div class="product-item">
						<h4 class="product-title">
							INDUSTRIAL INNOVATION PLATFORM
						</h4>
						<div class="product-body">
							<ul class="product-list">
								<li><img src=".{eyou:global name='web_templets_pc' /}/skin/images/solution/index/industral-1.png"></li>
								<li><img src=".{eyou:global name='web_templets_pc' /}/skin/images/solution/index/industral-2.png"></li>
								<li><img src=".{eyou:global name='web_templets_pc' /}/skin/images/solution/index/industral-3.png"></li>
							</ul>
						</div>
					</div>
					<div class="product-item lifecycle-item">
						<h4 class="product-title">
							PRODUCT LIFECYCLE MANAGEMENT
						</h4>
						<div class="product-body">
							<ul class="product-list">
								<li><img src=".{eyou:global name='web_templets_pc' /}/skin/images/solution/index/product-1.png"></li>
								<li><img src=".{eyou:global name='web_templets_pc' /}/skin/images/solution/index/product-2.png"></li>
								<li><img src=".{eyou:global name='web_templets_pc' /}/skin/images/solution/index/product-3.png"></li>
								<li><img src=".{eyou:global name='web_templets_pc' /}/skin/images/solution/index/product-4.png"></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- product -->
			<div class="ansys">
				<div class="wrapper">
					<h3 class="underlined-title">ANSYS</h3>
					<div class="btn">
						<a href="#" class="index-more white">
							了解详情
							<i class="iconfont icon-right-arrow"></i>
						</a>
					</div>
				</div>
			</div>
			<!-- ansys -->
			<div class="ansys-info">
				<div class="wrapper">
					<ul class="ansys-list">
						<li>
							<i class="iconfont icon-liutifuhao"></i>
							<span>流体</span>
						</li>
						<li>
							<i class="iconfont icon-jiegou"></i>
							<span>结构</span>
						</li>
						<li>
							<i class="iconfont icon-dianzixinxi"></i>
							<span>电子</span>
						</li>
						<li>
							<i class="iconfont icon-bandaoticailiao"></i>
							<span>半导体功耗</span>
						</li>
						<li>
							<i class="iconfont icon-zujian"></i>
							<span>任务关键型嵌入式软件</span>
						</li>
						<li>
							<i class="iconfont icon-guangxuexingneng"></i>
							<span>光学</span>
						</li>
					</ul>
				    <div class="btn-box">
				    	<div class="btn">
				    	  <i class="iconfont icon-zu"></i>
						  材料
				    	</div>
						<div class="btn">
				    	  <i class="iconfont icon-pingtaiguanli"></i>
						  平台							
						</div>
				    </div>
				</div>
			</div>
			<!-- ansys-info -->
			<div class="ansys mes">
				<div class="wrapper">
					<h3 class="underlined-title">Smart.MES</h3>
					<div class="btn">
						<a href="#" class="index-more white">
							了解详情
							<i class="iconfont icon-right-arrow"></i>
						</a>
					</div>
				</div>
			</div>
			<!-- mes -->
			<div class="digital">
				<div class="img-special-box">
					<img src=".{eyou:global name='web_templets_pc' /}/skin/images/solution/index/digital.png" />
				</div>
			</div>
			<!-- digital -->
		</div>
		<!-- page -->
			<!--网站公用底部——开始-->
            {eyou:include file="footer.htm" /}
            <!--网站公用底部——结束-->
		<!-- footer -->
		<script src="{eyou:global name='web_templets_pc' /}/skin/js/build.js"></script>
		<script src="{eyou:global name='web_templets_pc' /}/skin/js/app.js"></script>
	</body>
</html>
