<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>招贤纳士</title>
		<link rel="stylesheet" href="{eyou:global name='web_templets_pc' /}/skin/css/style.min.css" />
		<link rel="stylesheet" href="{eyou:global name='web_templets_pc' /}/skin/css/swiper.min.css">
	</head>
	<body>
		<!--网站公用头部——开始-->
{eyou:include file="header.htm" /}
    <!--网站公用头部——结束-->
		<!-- header -->
		<div class="recruit-page page">
      {eyou:include file="banner.htm" /}
			<!-- c-banner -->
			<div class="wrapper">
				<div class="breadcrumb">
          {eyou:position style="" /}
				</div>
			</div>
			<!-- 当前位置 -->
			<div class="wrapper">
				<div class="recruit-list">
          {eyou:list titlelen='30' pagesize='10' addfields='gzdd,zprs,xzdy'}
					<div class="recruit-item">
						<a href="{$field.arcurl}">
							<h6 class="h6">{$field.title}</h6>
							<ul class="recruit-ul">
								<li>
									<span class="name">工作地点：</span>
									<span class="txt">{$field.gzdd}</span>
								</li>
								<li>
									<span class="name">招聘人数：</span>
									<span class="txt">{$field.zprs}</span>
								</li>
								<li>
									<span class="name">薪资待遇：</span>
									<span class="txt">{$field.xzdy}</span>
								</li>
							</ul>
						</a>
					</div>
          {/eyou:list}  
				</div>
			</div>
		    <!-- 应聘列表 -->
			<div class="welfare">
				<div class="wrapper">
					<h3 class="underlined-title">福利保障</h3>
					<ul class="welfare-list">
						<li>
							<i class="iconfont icon-wuxianyijin"></i>
							<span class="name">五险一金</span>
						</li>
						<li>
							<i class="iconfont icon-shuangxiu"></i>
							<span class="name">周末双休</span>
						</li>
						<li>
							<i class="iconfont icon-jierifuli"></i>
							<span class="name">节日福利</span>
						</li>
						<li>
							<i class="iconfont icon-xiawucha"></i>
							<span class="name">下午茶</span>
						</li>
						<li>
							<i class="iconfont icon-nianzhongjiangjin"></i>
							<span class="name">年终奖</span>
						</li>
						<li>
							<i class="iconfont icon-paid_annual_leave"></i>
							<span class="name">带薪年假</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- page -->
			<!--网站公用底部——开始-->
      {eyou:include file="footer.htm" /}
      <!--网站公用底部——结束-->
		<!-- footer -->
		<script src="{eyou:global name='web_templets_pc' /}/skin/js/build.js"></script>
		<script src="{eyou:global name='web_templets_pc' /}/skin/js/app.js"></script>
	</body>
</html>
